@import "partials/a_reset";
@import "partials/b_mixins";
@import "partials/c_vars_&_prefs";
@import "partials/d_fonts";

@import "0_custom";
@import "0_header_footer";


@import "block_info_graphic";
@import "block_poster";
@import "block_video";
@import "block_row_col_2";
@import "block_product";

@import "pg_blog";
@import "pg_contact";

// shopify
.shopify-buy-frame--product {
    margin: 0 auto;
}
